.imageBox {

    display: flex;
    align-items: center;
    margin-top: 2rem;
    
}

.box {

    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin-right: 1.9rem;
    padding: 0;
}

.img {

    width: 5.5rem;
    height: 5.4rem;
    border-radius: 7px;
    cursor: pointer;
   
    
}

.currentBox {

    border: 2px solid rgb(255, 140, 0);
   
}

.currentImg {

    opacity: 0.3;
}

.img:not(.currentImg) {

    transition: opacity 0.3s;
}

.img:not(.currentImg):hover {

opacity: 0.5;
    
}




/* Media Queries */

@media screen and (max-width: 1199px) and (min-width: 1100px) {

    
.img {

    width: 4.65rem;
    height: 4.6rem;

}
}



@media screen and (max-width: 1099px) and (min-width: 1000px) {

   
    .img {

        width: 4.65rem;
        height: 4.6rem;
    
    }

}


@media screen and (max-width: 999px) and (min-width: 900px) {

    .img {

        width: 4.2rem;
        height: 4.1rem;
    
    }

}


@media screen and (max-width: 899px) and (min-width: 850px) {

    .img {

        width: 3.7rem;
        height: 3.6rem;
    
    }

}


@media screen and (max-width: 849px) and (min-width: 800px) {

    .img {

        width: 3.45rem;
        height: 3.5rem;
    
    }

}


/* For Mobile */

@media screen and (max-width: 799px) {

    .imageBox {
        display: none;
    }
    
}