.main {

    display: flex;
    align-items: center;
    width: auto;
    margin: 5.5rem 7.5rem;
   
}


/* Media Queries */

@media screen and (max-width: 1199px) and (min-width: 1100px) {

    .main {

        margin: 5rem 5.5rem;
    }

    
}


@media screen and (max-width: 1099px) and (min-width: 1000px) {

    .main {

        margin: 5rem 4.5rem;
    }
}


@media screen and (max-width: 999px) and (min-width: 900px) {

    .main {

        margin: 4.5rem 4rem;
    }
}



@media screen and (max-width: 899px) and (min-width: 850px) {

    .main {

        margin: 4.3rem 4rem;
    }
}


@media screen and (max-width: 849px) and (min-width: 800px) {

    .main {

        margin: 4.2rem 3rem;
    }
}

/* For Mobile */

@media screen and (max-width: 799px)   {

   .main {

    flex-direction: column;
    margin: 0rem;
    /* width: fit-content; */

  
   }
    
}