
.price {

    display: flex;
    flex-direction: column;
    margin-top: 1.8rem;
   

}

.priceTag {

    display: flex;
    align-items: center;
    margin-bottom: 1rem;

}

.newPrice {

    font-family: extraBoldFont;
    font-size: 1.8rem;
    color: var(--very-dark-blue);
    opacity: 0.95;
    margin-right: 1rem;

}

.discount {

    color: var(--orange);
    font-family: extraBoldFont;
    background: var(--pale-orange);
    padding: 0.5rem;
    padding-right: 0.6rem;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    border-radius: 5px;
    

}

.oldPrice {

    text-decoration: line-through;
    font-family: boldFont;
    color: var(--dark-grayish-blue);
    opacity: 0.5;
}

/* Media Queries */

@media screen and (max-width: 999px) and (min-width: 900px) {


 .priceTag {

        display: flex;
        align-items: center;
        margin-top: 1.5rem;


    }

}


@media screen and (max-width: 899px) and (min-width: 850px) {


    .priceTag {
   
           display: flex;
           align-items: center;
           margin-top: 1.3rem;
   
   
       }
   
.newPrice {

    font-size: 1.5rem;

}
   }

   
@media screen and (max-width: 849px) and (min-width: 800px) {


    .priceTag {
   
           display: flex;
           align-items: center;
           margin-top: 1.3rem;
   
   
       }
   
.newPrice {

    font-size: 1.5rem;

}
   }

   

/* For Mobile  */


@media screen and (max-width: 799px)  {

    .price {

        flex-direction: row;
        align-items: center;
        margin-top: 2rem;

    }

    .priceTag {

        margin-bottom: 0;
    }

    .oldPrice {

        margin-left: auto;

    }
}


@media screen and (max-width: 499px)  {


    .newPrice {

        font-size: 1.5rem;

    }
    

}


@media screen and (max-width: 319px)  {


    .newPrice {

        font-size: 1.35rem;

    }
    

}