
.div {

    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
}

.cartBox {

    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 2.8rem;
    position: relative;

}

.cartBox:hover .cart {

    fill: var(--black);
}

.cart {

 width: 1.5rem;
 height: 1.3rem;
 fill: var(--dark-grayish-blue);
 cursor: pointer;
 transition: fill 0.3s;
 
}


.cartActive {

    fill: var(--black);
}

.cart-count {

    position: absolute;
    background: var(--orange);
    color: white;
    font-family: regularFont;
    font-size: 0.8rem;
    bottom: 50%;
    left: 50%;
    border-radius: 10px;
    height: 1.5rem;
    padding: 0.3rem;
   text-align: center;
   user-select: none;
   cursor: pointer;

}

.cart-count-hide {

    display: none;
}

.avatar {

    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    cursor: pointer;
    
}

.avatar:hover {

    border: 2px solid var(--orange);
}

/* Media Queries */
   
@media screen and (max-width: 999px) and (min-width: 900px) {

    
.cartBox {


    margin-right: 2.4rem;

}

}

   
@media screen and (max-width: 899px) and (min-width: 850px) {

    
    .cartBox {
    
    
        margin-right: 2.4rem;
    
    }

    .div {

   
        margin-left: 2rem;
       
    }
    
    }

    
@media screen and (max-width: 849px) and (min-width: 800px) {

    
    .cartBox {
    
    
        margin-right: 2rem;
    
    }

    .div {

   
        margin-left: 2rem;
       
    }
    
    }


/* For Mobile  */


@media screen and (max-width: 799px) and (min-width: 500px)  {

    
.avatar {

    width: 2.5rem;
    height: 2.5rem;

}



.cartBox {


    margin-right: 2rem;


}


}



@media screen and (max-width: 499px)   {

    
    .avatar {
    
        width: 2.3rem;
        height: 2.3rem;
    
    }
    
    
    
    .cartBox {
    
    
        margin-right: 1.5rem;
    
    
    }
    
    
    }

    
@media screen and (max-width: 399px)   {

    
    .avatar {
    
        width: 2.1rem;
        height: 2.1rem;
    
    }
    
    
    
    .cartBox {
    
    
        margin-right: 1rem;
    
    
    }
    
    
    }